/* --- 100: THIN --- */
/* Corrisponde a class="font-thin" */
@font-face {
    font-family: "LondonUnderground";
    src: url("assets/fonts/P22_Underground_Thin.otf") format("opentype");
    font-weight: 100;
    font-style: normal;
}

/* --- 300: LIGHT --- */
/* Corrisponde a class="font-light" */
@font-face {
    font-family: "LondonUnderground";
    src: url("assets/fonts/P22_Underground_Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
}

/* --- 400: NORMAL / BOOK --- */
/* Corrisponde a class="font-normal" */
@font-face {
    font-family: "LondonUnderground";
    src: url("assets/fonts/P22_Underground_Book.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

/* --- 500: MEDIUM --- */
/* Corrisponde a class="font-medium" */
@font-face {
    font-family: "LondonUnderground";
    src: url("assets/fonts/P22_Underground_Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
}

/* --- 600: SEMIBOLD (DemiBold) --- */
/* Corrisponde a class="font-semibold" */
@font-face {
    font-family: "LondonUnderground";
    src: url("assets/fonts/P22_Underground_DemiBold.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
}

/* --- 700: BOLD (Mapping su DemiBold) --- */
/* Corrisponde a class="font-bold" 
       Nota: Uso DemiBold anche qui perché non hai un file "Bold" puro */
@font-face {
    font-family: "LondonUnderground";
    src: url("assets/fonts/P22_Underground_DemiBold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}

/* --- 800 & 900: EXTRABOLD / BLACK (Heavy) --- */
/* Corrisponde a class="font-extrabold" e "font-black" */
@font-face {
    font-family: "LondonUnderground";
    src: url("assets/fonts/P22_Underground_Heavy.otf") format("opentype");
    font-weight: 800; /* Copre anche 900 */
    font-style: normal;
}
/* Regola extra per il 900 per sicurezza */
@font-face {
    font-family: "LondonUnderground";
    src: url("assets/fonts/P22_Underground_Heavy.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
}

/* Applicazione Globale */
body {
    font-family: "LondonUnderground", sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
}

canvas {
    display: block;
}

.mapbox-improve-map {
    display: none;
}

/* Stile custom per i popup di Mapbox */

/* Reset del padding nativo per gestire tutto via HTML/Tailwind */
.mapboxgl-popup-content {
    font-family: "LondonUnderground", sans-serif;
    border-radius: 0.75rem;
    padding: 0 !important; /* IMPORTANTE: Rimuove il padding bianco di default */
    border: none !important; /* Rimuoviamo il bordo nativo, lo gestiamo noi */
    overflow: hidden; /* Assicura che il background colorato non esca dai bordi arrotondati */
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

/* La punta del popup (triangolino) */
.mapboxgl-popup-tip {
    border-top-color: #171717 !important;
    border-bottom-color: transparent !important;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
}

.mapboxgl-popup-close-button {
    display: none;
}

/* Nasconde il testo di caricamento di default di p5.js */
#p5_loading {
    display: none !important;
}

/* Timeline custom style */
.metro-slider {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 8px;
    background: #D4D4D4;
    outline: none;
}
.metro-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #ffffff;
    border: 4px solid #171717;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.1s;
}
.metro-slider::-webkit-slider-thumb:hover {
    transform: scale(1.2);
    border-color: #171717;
    cursor: grab;
}
.metro-slider::-moz-range-progress {
    background-color: #171717;
    height: 8px;
    border-radius: 8px;
}
.metro-slider::-moz-range-track {
    background-color: #D4D4D4;
    height: 8px;
    border-radius: 8px;
}

@keyframes horizontal-shaking {
            0% { transform: translateX(0) }
            25% { transform: translateX(4px) }
            50% { transform: translateX(-4px) }
            75% { transform: translateX(4px) }
            100% { transform: translateX(0) }
        }
        
.animate-shake {
    animation: horizontal-shaking 0.3s ease-in-out;
}

/* Nasconde la scrollbar nella sezione linee*/
.custom-scrollbar {
  scrollbar-width: none;     /* Firefox */
  -ms-overflow-style: none;  /* old Edge/IE */
}

.custom-scrollbar::-webkit-scrollbar {
  display: none;             /* Chrome/Safari */
}

/* Nasconde la chevron su desktop */
.lg\:hidden {
    display: none;
}

@media (max-width: 1023px) {
    .lg\:hidden {
        display: block;
    }

    /* Altezza iniziale ridotta su mobile */
    .sidebar-mobile-container {
        height: auto;
        max-height: 110px; /* Mostra solo l'header */
        flex-shrink: 0;
    }

    .sidebar-mobile-container.mobile-expanded {
        max-height: 42vh; /* Altezza fino a cui si espande la sidebar su mobile */
        flex-grow:1
    }

    .sidebar-mobile-container .custom-scrollbar {
        overflow-y: auto;
        flex-1: 1 1 auto;
    }

    .mobile-chevron-icon {
        display: inline-block;
        transform: rotate(0deg);
        transition: transform 0.3s ease;
    }
    .mobile-chevron-icon.rotate-180 {
        transform: rotate(-180deg);
    }
}
    
/* Reset automatico se si allarga lo schermo */
@media (min-width: 1024px) {
    .sidebar-mobile-container {
        max-height: 100% !important;
        height: 100% !important;
    }
    .mobile-chevron-icon {
        display: none !important;
    }
}